/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-family-sans-serif: "Open Sans", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

@import "bootstrap";

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-warning;
}

html, body, #content-container, #content-container .row, #sidebar {
  height: 100%;
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-small {
  font-size: 50%;
}

.table-hover tbody tr:hover {
  background-color: #fafafa;
}

header {
  padding: 10px 50px;

  border-bottom: 1px solid #dddddd;
  box-shadow: 0 4px 5px -3px #ececec;

  a {
    color: #000;
  }
}

#content-wrapper {
  margin: 20px 50px;
}

#sidebar {
  h6 {
    margin: 25px 0 10px;

    color: #666;
    font-size: 14px;
    font-weight: 900;
  }

  .nav-item {
    &:hover {
      background-color: #fafafa;
    }
  }

  .fast-access-menu {
    font-size: 13px;
  }
}

.page-header {
  margin: 5px 0 30px;
}

.page-sub-header {
  margin: 30px 0 20px;
  border-bottom: 1px solid #eee;

  a {
    color: #292b2c;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.blockquote {
  font-size: 15px;
}

.bg-faded {
  background: #fafafa;
}

.decorated-list {
  border-top: 1px solid #eee;

  .decorated-list-item {
    padding: 20px;
    border-bottom: 1px solid #eee;

    &:hover {
      background: #fafafa;
    }
  }
}

.info-block {
  font-size: 14px;
}

.list-of-schedules {
  font-size: 12px;
}

.simple-calendar {
  .calendar-heading {
    padding: 10px 0;
  }

  .calendar-title {
    padding: 0 10px;
  }

  th,
  td {
    border-right: 1px solid #eceeef;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .day {
    .date {
      font-size: 11px;
      font-weight: 900;
      text-align: right;

      padding-bottom: 10px;
    }
  }
}

.send-message-form {
  input[type="submit"] {
    cursor: pointer;
  }
}

.messages-list {
  margin: 0 0 20px;

  .messages-list-item {
    margin: 0 0 10px;

    h6 {
      font-size: 13px;
    }

    .card-block {
      font-size: 14px;
      padding: .7rem .9rem;
    }
  }
}

.table-with-evaluations {
  font-size: 12px;

  .form-control {
    font-size: 13px;
    padding: 0.3rem 0.5rem;
  }
}
